{% extends "base.html" %}
 
{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.kolvo }} шт.<br>
            {% for error in form.kolvo.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>
        {% if er%}
            <div class="alert alert-danger" role="alert">
                Количество должно быть положительным
            </div>
        {% endif %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}