<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
<body>
<h1 align="center">Магазин Суши</h1>
<h3 align="center">Лучший магазин в мире</h3>
        {% if "username" in session %}
<div align="right"><a href=/logout>Выйти</a></div>
        {% else %}
<div align="right"><a href=/login>Войти</a></div>
        {% endif %}
<div align="center"><strong> Меню: </strong></div>

<div align="center"><a href=/show_food/Суши>Суши</a>--<a href=/show_food/Роллы>Роллы</a>--<a href=/show_food/Напитки>Напитки</a></div>
<p>
<div align="center"><a href=/show_food_basket>Корзина</a></div>
</p>
<p>
    {% if "username" in session %}
<div align="center"><a href=/add_food>Добавить товар</a></div>
        {% endif %}
</p>
</body>
</html>